body {
    font-family: 'Poppins', sans-serif;
  }
section {
    width: 100%;
}

.form {
    width: 100%;
}

.flex-image-container {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -320px);
    width: 100%;
}

.img-responsive-wrap {
    position: relative;
    max-width: 100%;
    width: 446px;
}
.formLogin {
    background-image: url(/img/back.jpg);
    
    background-repeat: no-repeat;
    background-size: cover; /* Kích thước hình nền sẽ luôn full */
    background-position: center; /* Căn chỉnh hình ảnh vào giữa */
}
.formLogin .character-image {
    display: block;
    position: relative;
    z-index: 22;
    top: 130%;
    width: 100%;
    left: 42%;
    scale:1.2;
    pointer-events: none;
}
.loginButton {
    width: 50%;
    padding: 10px;
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(255, 69, 84);
}

.loginButton:hover {
    background-color: rgb(255, 69, 84);
    box-shadow: 0px 8px 15px rgba(244, 28, 28, 0.2);
}

input {
        border-color: black;
        
}

.custom-button {
    background: linear-gradient(to left, rgba(255, 102, 102, 0.7), transparent) 1;
    width: 50%;
    padding: 10px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.form-login {
   
    opacity: 0;
    animation: fadeIn 1.5s ease forwards;
}
#remember:checked {
    background-color: rgb(252, 87, 115);
    border: rgba(255, 102, 102, 0.7);
}

#loginAnother {
    display: flex;
    justify-content: space-around;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 800px) {
    .character-image{ 
        visibility: hidden ;
    }

}

#email, #password  {
    border: none;
    border-color:black;
}


.logAndres{
    display: flex   ;
}

.header { background-image: url(/img/download.jpg);
background-position: 355px 0px;
height: 600px;
}
main {
    background-image: url(/img/secondIndex.jpg);
}

.trueIndex { 
    background-image: url(/img/bg.jpg);
    background-repeat: no-repeat;
    background-size:100% ;
}

