 .formSignup {
    
            min-height: 100%;
            top: 0;
            width: 100%;
          background-image: url(/img/jett16.jpg);
          background-size: 120%;
          background-position-y: -150px;
            background-blend-mode: multiply;

        }
        .form { }
        input:focus {
            border: 1px solid black;
        }
        .error { 
            color: red;
        }
        .custom-button {
        background: linear-gradient(to left, rgba(255, 102, 102, 0.7), transparent) 1;
        width: 100%; 
        padding: 10px;
        border: none;
        color: white;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
        background-color: rgb(255, 69, 84);
    }
    .custom-button:hover {
       
        box-shadow: 0px 8px 15px rgba(244, 28, 28, 0.2); /* Shadow khi hover */
    }

  
    .bg-imageLeft{
    background-image: url('img/reyna.png');
    background-size: cover;
    background-position: center;
    transform:translateX(55%);
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    z-index: -1;
}

.bg-imageRight {
    background-image: url('img/Untitled\ design.png');
    background-size: cover;
    transform:translateX(65%);
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    z-index: -2; 
}
#terms:checked {
    background-color: rgb(252, 87, 115); 
    border: rgba(255, 102, 102, 0.7);
}

.form-register {
    opacity: 0;
    animation: fadeIn 1.3s ease forwards;
}

#username:focus,#email:focus, #password:focus, #confirm-password:focus {
    border-color: black;
    background-color: #f0f4f8; 
    color: #333; 
    box-shadow: 0 0 0 3px rgba(37,99,235,0.1);
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 800px) {
    .bgimg {
    visibility: hidden;
  } 
}
